USE [OPC]
GO
/****** Object:  StoredProcedure [dbo].[GetDayPlanData]    Script Date: 2025/11/13 8:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetDayPlanData]
(
	@ScheduleId BIGINT,
	@PrePlanDate DATETIME,
	@PlanDate DATETIME,
	@NextPlanDate DATETIME,
	@IsMonday BIT,
	@IsHaveSample bit,
	@KanbanNos xml
)
as
BEGIN
	SELECT 
	tabPartRouting.col.value('VersionSign[1]','nvarchar(200)') PartItemCode
	into #tempKanban
	FROM @KanbanNos.nodes('//SampleProcInputDto') as tabPartRouting(col) 

	IF OBJECT_ID(N'tempdb..#TempAllJobs')is not null
	drop table #TempAllJobs;
	CREATE TABLE [#TempAllJobs]
	( 
		WorkOrderId BIGINT,
		WorkOrderNo [nvarchar](50),
		PartId BIGINT,
		PartNo [nvarchar](50),
		OpNo NVARCHAR(50),
		ProcessingTime DECIMAL(18,6),
		ThirdGroupCT DECIMAL(18,6),
		DemandQty DECIMAL,  --模数
		MouldList NVARCHAR(500),
		LaborGroupNo NVARCHAR(50),
		Cooper int,
		IsSecondBGCode NVARCHAR(50),
		FGPartId BIGINT,
		FGNo NVARCHAR(36),
		ToolNo NVARCHAR(50),
		PlanDate DATETIME,
		Usage INT null,
		LotSize decimal null,
		SetCase nvarchar(50), --看板
		HowDay int,
		BFNo NVARCHAR(50),
		PreHaveSetCaseStr NVARCHAR(50),
		WeekStartTime DATETIME,
		EarliestStartTime DATETIME,
		DueDate DATETIME,
		IsSample int
	)
	--按产品分组汇总加工时间
	SELECT PartId,OpId,MAX(ProcessTime) ProcessingTime,MAX(r.WorkCenterNo) WorkCenterNo INTO #ProcessingTime 
		FROM dbo.BD_OpRes opr
		INNER JOIN dbo.BD_Resource r ON opr.ResId=r.Id
		where opr.IsDelete=0 and r.IsDelete=0
			GROUP BY PartId,OpId
	--已排程工单
	SELECT w.Id WorkOrderId,w.VersionSign INTO #version FROM dbo.Fd_ScheduleWorkOrder s
		INNER JOIN dbo.Fd_WorkOrder w ON w.Id = s.WorkOrderID
		WHERE s.Delay=0 AND s.StartTime<@PlanDate and s.IsDelete=0 and w.IsDelete=0
		GROUP BY w.VersionSign,w.Id

	--样件机台未成套完成工单
	if(@IsHaveSample=1)
	begin

		INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and opres.IsDelete=0 and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo where res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN  dbo.Bd_Resource bres ON bres.Id = orp.ResID 
						WHERE orp.PartID=op.PartID and orp.IsDelete=0 and bres.IsDelete=0) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code) AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,tf.StartTime
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,-1 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id 
					WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%') and b.IsDelete=0 and s.IsDelete=0)AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,tf.StartTime WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
			FROM dbo.FD_WorkOrder  wo
				INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
				INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
				INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
				INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
				INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
				INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
				--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
				INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
				LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
				left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null and www.IsDelete=0) sw on wo.Id=sw.WorkOrderId
			WHERE fk.Id IS null and sw.WorkOrderId is null
			  and op.itemcode='100'
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10
			  AND wo.VersionSign IN(SELECT VersionSign FROM #tempKanban)
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #version)
			  and wo.IsDelete=0 and spp.IsDelete=0 and s.IsDelete=0 and dic.IsDelete=0 and k.IsDelete=0 and k.IsDelete=0 and tf.IsDelete=0
			  and op.IsDelete=0 and fk.IsDelete=0
	end

	IF(DATEPART(WEEKDAY,@PlanDate)=2)  --周一时优先获取需要配对的看板工单
	BEGIN

		INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and opres.IsDelete=0 and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo where res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN  dbo.Bd_Resource bres ON bres.Id = orp.ResID 
						WHERE orp.PartID=op.PartID and orp.IsDelete=0 and bres.IsDelete=0) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code) AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,tf.StartTime
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,-1 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id 
					WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%') and b.IsDelete=0 and s.IsDelete=0)AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,tf.StartTime WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
			FROM dbo.FD_WorkOrder  wo
				INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
				INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
				INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
				INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
				INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
				INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
				--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
				INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
				LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
				left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null and www.IsDelete=0) sw on wo.Id=sw.WorkOrderId
			WHERE fk.Id IS null and sw.WorkOrderId is null
			  and op.itemcode='100'
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10
			  AND wo.VersionSign IN(SELECT VersionSign FROM #version)
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #version)
			  and wo.IsDelete=0 and spp.IsDelete=0 and s.IsDelete=0 and dic.IsDelete=0 and k.IsDelete=0 and k.IsDelete=0 and tf.IsDelete=0
			  and op.IsDelete=0 and fk.IsDelete=0
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #TempAllJobs)
    END
    
	--获取上一计划日欠缴工单
	INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo and res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN 
										dbo.Bd_Resource bres ON bres.Id = orp.ResID WHERE orp.PartID=op.PartID) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code)  AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,tf.StartTime
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,-1 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%'))AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,tf.StartTime WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
		FROM dbo.FD_Schedule sch
			INNER JOIN dbo.FD_ScheduleWorkOrder sw ON sch.Id=sw.ScheduleId
			INNER JOIN dbo.FD_WorkOrder wo ON sw.WorkOrderId=wo.Id
			INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
			INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
			INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
			INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
			INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
			INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
			--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
			INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
			LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
			left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null) sww on wo.Id=sww.WorkOrderId
			WHERE sw.Delay=1 AND sch.ScheduleStartTime=@PrePlanDate AND fk.Id IS null
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #TempAllJobs)
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10



	--获取当天需要排程的工单
	INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo and res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN 
										dbo.Bd_Resource bres ON bres.Id = orp.ResID WHERE orp.PartID=op.PartID) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code)  AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,tf.StartTime
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,1 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%'))AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,tf.StartTime WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
		FROM dbo.FD_WorkOrder wo
			INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
			INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
			INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
			INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
			INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
			INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
			--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
			INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
			LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
			left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null) sw on wo.Id=sw.WorkOrderId
			WHERE tf.StartTime>=@PlanDate AND tf.StartTime<DATEADD(DAY,1,@PlanDate) AND fk.Id IS null and sw.WorkOrderId is null
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #TempAllJobs)
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10

	
	--样件  将同看板的开始时间放在同一天
	select t.SetCase,min(t.PlanDate) PlanDate into #sample from #TempAllJobs t
		inner join dbo.BD_Part p on t.FGPartId=p.Id
		where p.issample=1
		group by t.SetCase
	
	INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo and res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN 
										dbo.Bd_Resource bres ON bres.Id = orp.ResID WHERE orp.PartID=op.PartID) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code)  AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,smp.PlanDate
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,1 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%'))AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,smp.PlanDate WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
		FROM dbo.FD_WorkOrder wo
			inner join #sample smp on wo.VersionSign=smp.SetCase
			INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
			INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
			INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
			INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
			INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
			INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
			--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
			INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
			LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
			left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null) sw on wo.Id=sw.WorkOrderId
			WHERE fk.Id IS null and sw.WorkOrderId is null
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #TempAllJobs)
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10


	--获取第二个计划日需要排程的工单
	INSERT INTO #TempAllJobs
			(WorkOrderID,WorkOrderNO,PartID,PartNO,OpNo,ProcessingTime,ThirdGroupCT,DemandQty,MouldList,LaborGroupNo--,
			,Cooper,IsSecondBGCode,FGPartId,FGNo,ToolNo,PlanDate,Usage,LotSize,SetCase,HowDay,BFNo,PreHaveSetCaseStr,WeekStartTime,EarliestStartTime,DueDate
			,IsSample
			)
			SELECT DISTINCT wo.Id WorkOrderID,wo.ItemCode WorkOrderNO,wo.PartID,S.ItemCode PartNO,op.ItemCode,pro.ProcessingTime,pro.ProcessingTime,SPP.AllocatedQty DemandQty
			,(select stuff((select ','+CONVERT(NVARCHAR(50),res.Id) FROM (SELECT TOP(1)r.WorkCenterNo 
				FROM dbo.BD_OpRes opRes
				INNER JOIN dbo.BD_Resource r ON opRes.ResID=r.Id WHERE opRes.PartID=op.PartID and r.IsDelete=0) AS P
				INNER JOIN dbo.BD_Resource res ON p.WorkCenterNo=res.WorkCenterNo and res.IsDelete=0 ORDER BY res.ItemCode for xml path(N'')),1,1,N''))AS MouldList
			,(SELECT TOP(1) bres.WorkCenterNo FROM dbo.Bd_OpRes orp INNER JOIN 
										dbo.Bd_Resource bres ON bres.Id = orp.ResID WHERE orp.PartID=op.PartID) AS LaborGroupNo
			,dic.Code AS Cooper
			--,CONVERT(INT,dic.Code)  AS Cooper
			,CASE WHEN dic.Code='1' OR dic.Code='2' THEN '2' ELSE '1' END IsSecondBGCode
			,k.id FGPartId,K.ItemCode FGNo,pro.WorkCenterNo,tf.StartTime
			,wo.RejectedQty Usage,s.LotSize,wo.VersionSign as SetCase
			,2 HowDay
			,(SELECT TOP(1)s.ItemCode FROM dbo.Bd_BOM b 
					INNER JOIN dbo.BD_Part s ON b.SubPartID=s.Id WHERE b.MasterPartID=wo.PartID AND s.ItemCode LIKE('%BF%'))AS BFNo
			,(select TOP(1) ISNULL(VersionSign,'') VersionSign from #version where VersionSign=wo.VersionSign) AS PreHaveSetCaseStr
			,tf.StartTime WeekStartTime,wo.EarliestStartTime,wo.DueDate,k.IsSample
		FROM dbo.FD_WorkOrder wo
			INNER JOIN FD_SoPegging SPP ON WO.Id=SPP.SupOrderId
			INNER JOIN dbo.BD_Part s ON wo.PartID=s.Id 
			INNER JOIN dbo.SysDictData dic ON s.PowderType=dic.Id
			INNER JOIN dbo.BD_Part k ON k.Id = wo.PartRevision
			INNER JOIN dbo.FD_TaskForPlan tf ON wo.Id=tf.WorkOrderId
			INNER JOIN dbo.BD_Operation op ON wo.PartID=op.PartID
			--inner join fd_workorderop wop on wo.id=wop.workorderid and op.Id=wop.opid
			INNER JOIN #ProcessingTime pro ON pro.PartId=wo.PartID AND pro.OpId=op.Id
			LEFT JOIN dbo.FD_KanbanList fk ON wo.Id=fk.WorkOrderId
			left join (select www.WorkOrderId from dbo.FD_ScheduleWorkOrder www where www.StartTime is not null) sw on wo.Id=sw.WorkOrderId
			  
			WHERE tf.StartTime>=@NextPlanDate AND tf.StartTime<DATEADD(DAY,1,@NextPlanDate) AND fk.Id IS null and sw.WorkOrderId is null
			  AND wo.Id NOT IN(SELECT WorkOrderId FROM #TempAllJobs)
			  and s.ItemCode like('%BG%') AND LEN(S.ItemCode)=10



	--添加数据到Fd_ScheduleWorkOrder
	DECLARE @MaxId BIGINT
	SELECT @MaxId=T.Id+1 FROM (
	SELECT TOP(1)id FROM dbo.FD_ScheduleWorkOrder ORDER BY Id DESC) T

	if(@MaxId is null)
	begin
		set @MaxId=1;
	end

	INSERT INTO dbo.Fd_ScheduleWorkOrder(Id,ScheduleID,WorkOrderID,PartId,QTY,EarliestStartDate,DueDate--,StartTime,StopTime,Delay,ProductionSpan,JobLife,ReleaseDate,Priority
		,TenantId,CreateTime,CreateUserId,IsDelete,Delay
		)
		SELECT ROW_NUMBER() over(order by t.id) +@MaxId Id,t.ScheduleID,t.WorkOrderId,PartId,t.DemandQty,t.EarliestStartTime,t.DueDate
		,t.TenantId,t.CreateTime,t.CreateUserId,t.IsDelete,null
		FROM(
		SELECT
		@MaxId Id,@ScheduleID ScheduleID,WorkOrderId,PartId,DemandQty,EarliestStartTime
		,DueDate
		,13991392916037 TenantId,GETDATE() CreateTime,13991392935365 CreateUserId,0 IsDelete
		FROM #TempAllJobs) t  ---DemandQty为工单加工数量
		
	--添加数据到Fd_Schedulelog
	DECLARE @LogMaxId BIGINT
	SELECT @LogMaxId=T.Id+1 FROM (
	SELECT TOP(1)id FROM dbo.FD_ScheduleLog ORDER BY Id DESC) T
	
	if(@LogMaxId is null)
	begin
		set @LogMaxId=1;
	end

	INSERT INTO dbo.FD_ScheduleLog
	(
	    Id,
	    ResId,
	    ScheduleId,TenantId,CreateTime,CreateUserId,IsDelete
	)
	SELECT ROW_NUMBER() over(order by res.Id) +@LogMaxId Id,res.ResId,@ScheduleId
	,13991392916037 TenantId,GETDATE() CreateTime,13991392935365 CreateUserId,0 IsDelete
	FROM
		(SELECT @LogMaxId Id,t.ResId FROM dbo.BD_MachineThird t
			INNER JOIN dbo.BD_Resource r ON t.ResId=r.Id
			WHERE r.IsAvailable=1 and r.IsDelete=0
		) res
		
	SELECT t.*
		,CASE WHEN t.PreHaveSetCaseStr IS null THEN 2 ELSE 1 END PreHaveSetCaseStr
		,(SELECT top(1)sw.Id FROM dbo.Fd_ScheduleWorkOrder sw WHERE sw.WorkOrderId=t.WorkOrderId AND sw.ScheduleId=@ScheduleId) ScheduleWorkOrderId
	FROM #TempAllJobs t

	DROP TABLE #ProcessingTime
	DROP TABLE #version
	DROP TABLE #TempAllJobs
	DROP TABLE #sample
	DROP TABLE #tempKanban
	
END
